<script>
  // Libraries
  import { link, location, restoreScroll } from "svelte-spa-router";
  import { onDestroy, tick } from "svelte";

  // Utils
  import { title } from "@/stores.js";
  import {
    trySaveSvelteRouterScroll,
    tryRestoreSvelteRouterScroll,
    ImageBackgroundWorkerPool,
  } from "@/util.js";

  // Components
  import Button from "@/components/Button.svelte";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";

  title.set("User Collections");

  let userCollections = null;
  function refreshUserCollections() {
    userCollections = api.getUserCollections();
  }
  refreshUserCollections();

  function createNewUserCollection() {
    api
      .createUserCollection()
      .then((response) => {
        refreshUserCollections();
      })
      .catch((error) => {
        alert(error);
        console.error(error);
      });
  }

  const imageBackgroundWorkerPool = new ImageBackgroundWorkerPool();

  onDestroy(() => {
    imageBackgroundWorkerPool.terminate();
  });

  // Scroll Restore
  $: {
    userCollections.then(() => {
      tick().then(() => restoreScroll(history.state));
    });
  }

  // Handlers
  async function getBackgroundColor(img) {
    const canvas = document.createElement("canvas");
    canvas.width = img.width;
    canvas.height = img.height;

    const ctx = canvas.getContext("2d");
    ctx.drawImage(img, 0, 0);

    return await imageBackgroundWorkerPool.calculateModeRgb(ctx);
  }

  if (window.userCollectionBackgroundColorCache === undefined) {
    window.userCollectionBackgroundColorCache = new Map();
  }
  async function handleImageLoad(userCollection, event) {
    const currentTarget = event.currentTarget;

    let colorPromise = window.userCollectionBackgroundColorCache.get(
      userCollection.preview.id,
    );
    if (colorPromise === undefined) {
      colorPromise = getBackgroundColor(currentTarget);
      window.userCollectionBackgroundColorCache.set(
        userCollection.preview.id,
        colorPromise,
      );
    }

    const color = await colorPromise;

    currentTarget.parentElement.style["background-color"] =
      `rgb(${color.r}, ${color.g}, ${color.b})`;
  }
</script>

<div class="container">
  <h1>User Collections</h1>
  {#await userCollections}
    Loading...
  {:then userCollections}
    <div class="user-collections-container">
      {#each userCollections as userCollection}
        <a
          class="user-collection"
          href="/user-collections/{userCollection.id}"
          use:link
        >
          {#if userCollection.preview !== null}
            {@const previewSrc = `/collection/thumbnails/${userCollection.preview.id}.${userCollection.preview.extension}`}
            <img
              alt="collection {userCollection.id}"
              src={previewSrc}
              class="link-img"
              width={userCollection.preview.width}
              height={userCollection.preview.height}
              on:load|self={(event) => handleImageLoad(userCollection, event)}
            />
          {:else}
            <div class="label">{userCollection.id}</div>
          {/if}
        </a>
      {/each}
      <button
        class="user-collection create-user-collection"
        on:click={createNewUserCollection}
      >
        <div class="label">+</div>
      </button>
    </div>
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  .container {
    color: white;
    padding: 1em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: white;
    text-align: center;
  }

  .user-collections-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .user-collection {
    align-items: center;
    background-color: grey;
    border: 0;
    border-radius: 0.5em;
    color: white;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    font-size: 1em;
    height: 12.944em;
    justify-content: center;
    margin: 0.5em;
    overflow: hidden;
    text-decoration: none;
    transition:
      all 0.1s ease,
      background-color 0.5s ease;
    width: 8em;
  }

  .user-collection:hover {
    filter: brightness(0.85);
  }

  .user-collection:active {
    filter: brightness(0.7);
  }

  .user-collection img {
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }

  .user-collection .label {
    align-items: center;
    display: flex;
    font-size: 3em;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .create-user-collection {
    background-color: var(--primary-active-background-color);
    color: black;
  }
</style>
