<script>
  import { title } from "../stores.js";
  title.set("Home");
</script>

<div class="content-container">
  <h1>Home</h1>
  <div>
    <h2>Certificates</h2>
    <a href="/certificate.crt" download>Certificate</a>
  </div>
</div>

<style>
  .content-container {
    margin: 1em;
    color: white;
    flex-grow: 1;
  }

  a {
    color: white;
  }
</style>
