<svelte:head>
  <title>Not Found</title>
</svelte:head>
<div style="margin: 1em;">
  <h1 style="color: white;">404: Not Found</h1>
  <div style="color: white;">
    '{window.location.pathname + window.location.hash}' was not found.
  </div>
</div>
