<script>
  // Libraries
  import { push, restoreScroll } from "svelte-spa-router";
  import { tick } from "svelte";

  // Utils
  import { title } from "@/stores.js";
  import api from "@/api.js";

  // Components
  import Button from "@/components/Button.svelte";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import Input from "@/components/Input.svelte";

  title.set("Subscriptions");

  function subscriptionComparator(a, b) {
    return a.query.localeCompare(b.query);
  }

  let subscriptions = null;

  let subscriptionsPromise = null;
  function refreshSubscriptions() {
    subscriptionsPromise = api.getSubscriptions().then((newSubscriptions) => {
      subscriptions = newSubscriptions.toSorted(subscriptionComparator);
    });
  }
  refreshSubscriptions();

  let queryValue = "";

  function createSubscription(event) {
    const query = event.detail;
    api
      .createSubscription(query)
      .then((id) => {
        subscriptions.push({
          id,
          query,
        });
        subscriptions.sort(subscriptionComparator);
        subscriptions = subscriptions;
      })
      .catch((error) => {
        console.error(error);
        alert(error);
      });
  }

  function updateAllSubscriptions() {
    api
      .updateAllSubscriptions()
      .then(() => {
        alert("Created downloads for subscriptions");
      })
      .catch((error) => {
        alert(error);
      });
  }

  function deleteSubscription(subscription) {
    const shouldDelete = confirm(
      `Delete subscription "${subscription.query}"?`,
    );
    if (shouldDelete) {
      const subscriptionId = subscription.id;
      api
        .deleteSubscription(subscriptionId)
        .then(() => {
          const subscriptionIndex = subscriptions.findIndex(
            (subscription) => subscription.id == subscriptionId,
          );

          subscriptions.splice(subscriptionIndex, 1);

          subscriptions = subscriptions;
        })
        .catch((error) => {
          console.error(error);
          alert(error);
        });
    }
  }

  function updateSubscription(subscription) {
    api
      .createDownload({ query: subscription.query })
      .then((downloadId) => {
        // push(`/downloads/${downloadId}`);
      })
      .catch((error) => {
        console.error(error);
        alert(error);
      });
  }

  $: {
    subscriptionsPromise.then(() => {
      tick().then(() => restoreScroll(history.state));
    });
  }
</script>

<div class="content">
  <h1>Subscriptions</h1>
  <div class="subscriptions-container">
    {#await subscriptionsPromise}
      Loading...
    {:then}
      <div>
        <Button on:click={updateAllSubscriptions}>Update All</Button>
      </div>
      <Input
        type="text"
        placeholder="Create a subscription"
        bind:value={queryValue}
        on:submit={createSubscription}
      />
      <ol class="subscription-list">
        {#each subscriptions.filter((subscription) => subscription.query.indexOf(queryValue) !== -1) as subscription}
          <li class="subscription-entry">
            <div class="subscription-entry-label">
              {subscription.query}
            </div>
            <button
              class="update"
              on:click={(e) => updateSubscription(subscription)}
            >
              ↺
            </button>
            <button
              class="delete"
              on:click={(event) => deleteSubscription(subscription)}>✕</button
            >
          </li>
        {/each}
      </ol>
    {:catch error}
      <ErrorDisplay {error} />
    {/await}
  </div>
</div>

<style>
  .content {
    color: #ffffff;
    margin: 1em;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  h1 {
    color: white;
    text-align: center;
  }

  .subscriptions-container {
    margin: 0.3em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  .subscription-list {
    list-style: none;
    padding: 0;
  }

  .subscription-entry {
    align-items: stretch;
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    display: flex;
    font-size: 1.3em;
    min-height: 4em;
    margin: 0.3em;
    padding-left: 0.5em;
  }

  .subscription-entry-label {
    align-items: center;
    display: flex;
    flex-grow: 1;
    padding: 0.3em;
    word-break: break-word;
  }

  .subscription-entry button {
    background-color: var(--primary-active-background-color);
    border: 0;
    border-radius: 0.5em;
    color: var(--secondary-background-color);
    cursor: pointer;
    margin: 0.1em;
    transition-duration: 0.1s;
    min-width: 3em;
  }

  .subscription-entry button:hover {
    filter: brightness(0.85);
  }

  .subscription-entry button:active {
    filter: brightness(0.7);
  }

  .subscription-entry button.delete {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .subscription-entry button.update {
    border-radius: 0;
  }
</style>
