<script>
  export let error = {};
</script>

<div class="content-container">
  {#if error.messages}
    {#if error.messages.length > 0}
      {error.messages[0]}
      {#if error.messages.length > 1}
        <div class="cause-container">
          {#each error.messages.slice(1) as cause}
            <div>{cause}</div>
          {/each}
        </div>
      {/if}
    {:else}
      Error: "An unknown error occured"
    {/if}
  {:else if error.message}
    Error: {error.message}
  {:else}
    Error: "An unknown error occured"
  {/if}
</div>

<style>
  .content-container {
    margin: 1em;
    color: #ff0000;
    text-align: left;
    font-weight: 900;
  }

  .cause-container {
    margin-left: 1em;
  }
</style>
