<script>
  // Libraries
  import { createEventDispatcher } from "svelte";

  export let value;
  export let placeholder;
  export let type;

  const dispatch = createEventDispatcher();

  function handleKeyDown() {
    // Enter == 13
    if (event.keyCode === 13) dispatch("submit", value);
  }
</script>

{#if type === "search"}
  <input
    type="search"
    name="search"
    {placeholder}
    bind:value
    on:keydown={handleKeyDown}
    autocomplete="off"
  />
{:else}
  <input
    type="text"
    {placeholder}
    bind:value
    on:keydown={handleKeyDown}
    autocomplete="off"
  />
{/if}

<style>
  input {
    height: 2em;
    margin: 0.5em;
  }

  input::-webkit-search-cancel-button {
    display: none;
  }
</style>
