<script>
  // Libraries
  import { link, location } from "svelte-spa-router";

  let moreActive = false;

  $: {
    $location;
    moreActive = false;
  }
</script>

<svelte:window on:click={() => (moreActive = false)} />

<nav>
  <ul>
    <li>
      <a href="/" use:link>Home</a>
    </li>
    <li>
      <a href="/view" use:link>View</a>
    </li>
    <li class="dropdown-container">
      <button
        class="nav-label"
        on:click|stopPropagation={() => (moreActive = !moreActive)}>More</button
      >
      <ul class="dropdown" class:flex={moreActive}>
        <li>
          <a href="/downloads" use:link>Downloads</a>
        </li>
        <li><a href="/subscriptions" use:link>Subscriptions</a></li>
        <li>
          <a href="/user-collections" use:link>User Collections</a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<style>
  nav {
    background-color: var(--secondary-background-color);
    height: 3rem;
    width: 100%;
  }

  ul {
    align-items: center;
    display: inline-flex;
    height: 100%;
    list-style-type: none;
    margin: 0 0;
    padding: 0rem;
  }

  a,
  .nav-label {
    align-items: center;
    background: none;
    border: 0;
    color: var(--primary-text-color);
    display: inline-flex;
    font-family: "Roboto", sans-serif;
    font-size: medium;
    font-weight: normal;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }

  li {
    background-color: var(--secondary-background-color);
    height: 100%;
    min-height: 3rem;
    transition: all 0.5s;
  }

  li:hover {
    filter: brightness(1.75);
  }

  .dropdown-container {
    position: relative;
    z-index: 1;
  }

  .dropdown-container ul {
    align-items: stretch;
    display: none;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 100%;
    min-width: 100%;
  }

  ul.flex {
    display: flex;
  }
</style>
