<script>
  import Button from "./Button.svelte";
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  export let page = 0;
  export let min;
  export let max;

  let pageValue = "";

  $: disablePrev = isValid(min) && page - 1 < min;
  $: disableNext = isValid(max) && page + 1 >= max;
  $: {
    pageValue = String(page);
  }

  /// Check if an object is not undefined, NaN, or null
  function isValid(o) {
    return o != undefined && o != NaN && o != null;
  }

  function isValidPageMax(n) {
    if (isValid(max)) return n < max;
    return true;
  }

  function isValidPageMin(n) {
    if (isValid(min)) return n >= min;
    return true;
  }

  /// Check if a number is a valid page
  function isValidPage(n) {
    return isValidPageMax(n) && isValidPageMin(n);
  }

  function changePage(n) {
    if (isValidPage(n)) {
      page = n;
      dispatch("pagechanged", { page });
    }
  }

  function prevPage() {
    changePage(page - 1);
  }

  function nextPage() {
    changePage(page + 1);
  }

  function handleKeyUp(event) {
    if (event.code === "Enter") changePage(Number(pageValue));
  }
</script>

<div class="pagination-bar">
  <Button on:click={prevPage} bind:disabled={disablePrev}>Prev</Button>
  <div class="input-container">
    <input
      type="number"
      bind:value={pageValue}
      placeholder="Page #"
      name="page"
      {min}
      {max}
      on:keyup={handleKeyUp}
    />
  </div>
  <Button on:click={nextPage} bind:disabled={disableNext}>Next</Button>
</div>

<style>
  .pagination-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .input-container {
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
    margin-left: 1em;
  }

  input {
    width: 100%;
    min-width: 3em;
  }
</style>
