<script>
  import { getExtensionType } from "@/util.js";

  export let post = null;
  export let detailedMode = false;
  export let useSampleUrl = false;
  let detailedViewScale = 1.0;

  // Hide scroll in detailed mode
  $: document.body.style.overflow = detailedMode ? "hidden" : "";

  function toggleDetailedView() {
    detailedMode = !detailedMode;
  }

  let lastPointerDownTime = null;
  function handlePointerDown(event) {
    if (lastPointerDownTime == null) {
      // If first click
      lastPointerDownTime = event.timeStamp;
    } else {
      // Second click

      // If dbl-click/tap, do action.
      // Also, try to filter out multi-taps by disregarding fast clicks.
      const maxThreshold = 250;
      const minThreshold = 20;
      let diff = event.timeStamp - lastPointerDownTime;
      if (diff < maxThreshold && diff > minThreshold) {
        // Reset last time
        lastPointerDownTime = null;

        // Action
        toggleDetailedView();
      } else {
        // Otherwise, overwrite last time
        lastPointerDownTime = event.timeStamp;
      }
    }
  }

  function handleWheel(event) {
    if (!detailedMode) return;

    // If detailed mode, prevent default
    event.preventDefault();

    detailedViewScale += 0.3 * -Math.sign(event.deltaY);
  }

  let displayUrl = null;
  let displayWidth = null;
  let displayHeight = null;
  $: {
    if (useSampleUrl) {
      displayUrl = `/collection/samples/${post.id}.${post.sampleExtension}`;
      displayWidth = post.sampleWidth;
      displayHeight = post.sampleHeight;
    } else {
      displayUrl = `/collection/${post.id}.${post.extension}`;
      displayWidth = post.width;
      displayHeight = post.height;
    }
  }
</script>

<div
  class="post-container"
  class:detailed-mode={detailedMode}
  on:wheel={handleWheel}
>
  {#if getExtensionType(post.extension) === "image"}
    <img
      src={displayUrl}
      alt="post {post.id}"
      class="post"
      width={displayWidth}
      height={displayHeight}
      on:pointerdown|preventDefault|self={handlePointerDown}
      style="transform: scale({detailedMode ? detailedViewScale : 1.0});"
    />
  {:else if getExtensionType(post.extension) === "video"}
    <video
      width={displayWidth}
      height={displayHeight}
      class="post"
      controls
      preload="auto"
      loop
    >
      <source src={displayUrl} type="video/mp4" />
    </video>
  {:else}
    <div class="unknown-extension-container">
      Unknown Extension "{post.extension}"
    </div>
  {/if}
</div>

<style>
  .post-container {
    /* allow the container to resize and take more room */
    flex-grow: 1;

    /* center items */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* ? */
    overflow-x: auto;
  }

  .post {
    /* auto-resize while keeping below max width/height */
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;

    /* ? */
    user-select: none;

    transform-origin: left top;
  }

  .detailed-mode {
    /* overlay the container over all */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    /* hide background by creating a new one */
    background-color: #000000;
  }

  .unknown-extension-container {
    color: red;
  }
</style>
