<script>
  // Libraries
  import { link, push, restoreScroll } from "svelte-spa-router";
  import { tick } from "svelte";

  // Components
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import Input from "@/components/Input.svelte";
  import Button from "@/components/Button.svelte";

  // Utils
  import { title } from "@/stores.js";
  import { extractDownloadRequest } from "@/util.js";
  import api from "@/api.js";

  title.set("Downloads");

  let downloadsListPromise = null;
  function refreshDownloads() {
    downloadsListPromise = api.listDownloads();
  }
  refreshDownloads();

  // Process a submit event from the create download bar
  function handleInputKeyDown(event) {
    if (event.keyCode !== 13) {
      return;
    }

    const value = event.currentTarget.value;
    createDownload(value);
  }

  function createDownload(value) {
    const request = extractDownloadRequest(value);

    api
      .createDownload(request)
      .then((downloadId) => {
        refreshDownloads();
      })
      .catch((error) => {
        alert(error);
        console.error(error);
      });
  }

  function deleteDownload(id) {
    api
      .deleteDownload(id)
      .then(() => {
        refreshDownloads();
      })
      .catch((error) => {
        console.error(error);
        alert(error);
      });
  }

  function clearCompletedDownloads() {
    api
      .deleteDownloads()
      .then(() => {
        refreshDownloads();
      })
      .catch((error) => {
        console.error(error);
        alert(error);
      });
  }

  // Restore Scroll
  $: {
    downloadsListPromise.then(() => {
      tick().then(() => restoreScroll(window.history.state));
    });
  }
</script>

<div class="content">
  <h1>Downloads</h1>
  <div class="input-container">
    <input
      placeholder="Create a download"
      type="text"
      autocomplete="off"
      name="query"
      on:keydown={handleInputKeyDown}
    />
    <div>
      <Button on:click={clearCompletedDownloads}>Clear Completed</Button>
    </div>
  </div>

  {#await downloadsListPromise}
    Loading...
  {:then list}
    <div class="list">
      {#each list as download}
        {@const name =
          download.request.type === "search"
            ? `Download Search "${download.request.data.query}"`
            : `Download Post ${download.request.data.id}`}
        <div class="download">
          <div class="id">Id {download.id}</div>
          <a href="/downloads/{download.id}" use:link>{name}</a>
          <button on:click={() => deleteDownload(download.id)}>X</button>
        </div>
      {/each}
    </div>
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  h1 {
    color: white;
    text-align: center;
  }

  .content {
    color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 1em;
    text-align: center;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  .list {
    display: flex;
    flex-direction: column;
  }

  .download {
    align-items: center;
    border-radius: 0.5em;
    display: flex;
    font-size: 1.3em;
    flex-direction: row;
    background-color: var(--secondary-background-color);
    min-height: 4em;
    margin: 0.5em;
    padding-left: 0.5em;
  }

  .download .id {
    padding: 0.2em;
  }

  .download a {
    color: white;
    text-decoration: none;
    flex-grow: 1;
    padding: 0.2em;
    word-break: break-word;
  }

  .download button {
    background-color: var(--primary-active-background-color);
    border: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    color: black;
    cursor: pointer;
    font-weight: 900;
    height: 100%;
    transition-duration: 0.1s;
    min-width: 3em;
  }

  .download button:hover {
    filter: brightness(0.85);
  }

  .download button:active {
    filter: brightness(0.7);
  }

  input {
    height: 2em;
    margin: 0.5em;
  }
</style>
