<script>
  // Libraries
  import { onDestroy, tick } from "svelte";
  import { link, pop, restoreScroll } from "svelte-spa-router";

  // Utils
  import { title } from "@/stores.js";
  import api from "@/api.js";

  export let params = {};

  let state = {
    error: null,
    originalRequest: null,
    posts: {},
  };
  let finished = false;
  let gotStateEvent = false;

  $: {
    if (state.originalRequest !== null) {
      if (state.originalRequest.type === "post") {
        title.set(`Download Post ${state.originalRequest.data.id}`);
      } else {
        title.set(`Download Search "${state.originalRequest.data.query}"`);
      }
    } else {
      title.set(`Download ${params.id}`);
    }
  }

  const subscription = api.subscribeDownload(params.id);
  subscription.addEventListener("missing", (event) => {
    state.error = new Error("download does not exist");
  });
  subscription.addEventListener("state", (event) => {
    state = event.detail;

    if (!gotStateEvent) {
      // Restore Scroll
      tick().then(() => restoreScroll(window.history.state));
      gotStateEvent = true;
    }
  });
  subscription.addEventListener("original-request", (event) => {
    state.originalRequest = event.detail;
  });
  subscription.addEventListener("new-post", (event) => {
    state.posts[event.detail.id] = null;
  });
  subscription.addEventListener("finish-post", (event) => {
    state.posts[event.detail.id] = event.detail.result;
  });
  subscription.addEventListener("close", (event) => {
    finished = true;
  });
  subscription.addEventListener("error", (event) => {
    state.error = event.detail.error;
  });

  function deleteDownload(event) {
    api
      .deleteDownload(params.id)
      .then((download) => {
        pop();
      })
      .catch((e) => {
        console.error(e);
        alert("failed to delete download");
      });
  }

  function getPostClass(post) {
    if (post === null) return "post-unknown";
    if (post.type === "error") return "post-error";
    if (post.data === true) return "post-downloaded";
    return "post-ondisk";
  }

  onDestroy(() => {
    subscription.close();
  });
</script>

<div class="content">
  <h1>{$title}</h1>
  <div class="controls">
    <div class="info">
      <div>Finished: {finished}</div>
      {#if state.error !== null}
        <div class="error">{state.error}</div>
      {/if}
    </div>
    <button on:click={deleteDownload}>Delete</button>
  </div>
  <div class="posts">
    {#each Object.entries(state.posts) as [postId, post]}
      {@const postClass = getPostClass(post)}
      <a href="/view/{postId}" class="post {postClass}" use:link
        >Post {postId}</a
      >
    {/each}
  </div>
</div>

<style>
  .content {
    color: white;
    margin: 1em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .controls .info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  .controls .info .error {
    color: red;
  }

  .post {
    padding: 1em;
    margin: 0.1em;
    border-radius: 1em;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    width: 5em;
  }

  .post-unknown {
    background-color: grey;
  }

  .post-downloaded {
    background-color: green;
  }

  .post-error {
    background-color: red;
  }

  .post-ondisk {
    background-color: blue;
  }

  .controls {
    display: flex;
    flex-direction: row;
    padding: 0.3em;
    justify-content: space-between;
  }

  .controls > * {
    padding: 0.3em;
  }

  .posts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
</style>
