<script>
  // Libraries
  import { onMount, tick } from "svelte";
  import { link, restoreScroll } from "svelte-spa-router";

  // Utils
  import { title } from "@/stores.js";
  import { getExtensionType, requestAnimationFramePromise } from "@/util.js";
  import api from "@/api.js";

  // Components
  import PostDisplay from "@/components/PostDisplay.svelte";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";

  // Params
  export let params = {};

  // Load data
  $: postPromise = api.getPost(params.id);

  // Set title
  title.set(params.id);

  // Restore Scroll
  $: {
    postPromise.then(() => {
      requestAnimationFramePromise().then(() =>
        restoreScroll(window.history.state),
      );
    });
  }

  function partitionTags(tags) {
    const result = {
      copyright: {
        tags: [],
        title: "Copyright",
      },
      character: {
        tags: [],
        title: "Character",
      },
      author: {
        tags: [],
        title: "Author",
      },
      general: {
        tags: [],
        title: "General",
      },
      metadata: {
        tags: [],
        title: "Metadata",
      },
      unknown: {
        tags: [],
        title: "Unknown",
      },
    };

    const tagsSorted = tags.toSorted((tag1, tag2) =>
      tag1.name.localeCompare(tag2.name),
    );

    for (const tag of tagsSorted) {
      if (result[tag.kind] === undefined) {
        result.unknown.tags.push(tag);
      } else {
        result[tag.kind].tags.push(tag);
      }
    }

    return result;
  }

  /// Check if a given string is a url.
  function isUrl(text) {
    try {
      const url = new URL(text);
      return url.protocol === "http:" || url.protocol === "https:";
    } catch (error) {
      return false;
    }
  }

  function formatDate(date) {
    const year = date.getFullYear().toString().padStart(4, "0");
    const month = (date.getMonth() + 1).toString().padStart(2, "0");
    const day = date.getDate().toString().padStart(2, "0");
    const hours = date.getHours().toString().padStart(2, "0");
    const minutes = date.getMinutes().toString().padStart(2, "0");
    const seconds = date.getSeconds().toString().padStart(2, "0");

    return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
  }

  function formatRating(rating) {
    const RATING_TABLE = {
      s: "Safe",
      q: "Questionable",
      e: "Explicit",
    };

    return RATING_TABLE[rating] ?? rating;
  }

  function formatStatus(status) {
    const STATUS_TABLE = {
      active: "Active",
      pending: "Pending",
      deleted: "Deleted",
      flagged: "Flagged",
    };

    return STATUS_TABLE[status] ?? status;
  }

  function handleDeletePost(event) {
    let choice = confirm(
      "Are you sure you want to delete this post? This cannot be undone.",
    );
    if (choice) {
      // TODO: I wonder if soft-deleting is advisable?
      // As in, mark this for deletion by a daily GC task?
      // That way, an undelete function could be possible.
      api
        .deletePost(params.id)
        .then(() => {
          window.history.back();
        })
        .catch((error) => {
          alert(error);
        });
    }
  }
</script>

{#await postPromise}
  <div class="content" style="margin:1em">Loading...</div>
{:then post}
  {@const partitionedTags = partitionTags(post.tags)}

  <div class="content">
    <div class="post-container">
      <PostDisplay {post} />
    </div>
    <div class="post-info-container">
      <div class="info-container">
        <h2>Info</h2>
        <ol>
          <li>Id: {params.id}</li>
          <li>Posted: {formatDate(post.createdAt)}</li>
          <li>Changed: {formatDate(post.change)}</li>
          <li>Fetched: {formatDate(post.fetched)}</li>
          <li>
            Poster: <a
              href="/view?query=user:{encodeURIComponent(post.creator)}"
              use:link>{post.creator}</a
            >
          </li>
          <li>Dimensions: {post.width}x{post.height}</li>
          {#if post.parentId !== null}
            <li>
              Parent: <a href="/view/{post.parentId}" use:link>Link</a>
            </li>
          {/if}
          {#if post.hasChildren}
            <li>
              Children: <a href="/view?query=parent:{post.id}" use:link>Link</a>
            </li>
          {/if}
          {#if post.source !== null && post.source.length !== 0}
            <li>
              {#if isUrl(post.source)}
                Source: <a href={post.source}>Link</a>
              {:else}
                Source: {post.source}
              {/if}
            </li>
          {/if}
          <li>
            Rule34: <a
              href="https://rule34.xxx/index.php?page=post&s=view&id={post.id}"
              >Link</a
            >
          </li>
          <li>Rating: {formatRating(post.rating)}</li>
          <li>Status: {formatStatus(post.status)}</li>
          <li>Score: {post.score}</li>
          {#if post.averageHash}
            <li>
              Similar Images: <a
                href="/view?query=sort:average_hash={post.averageHash}:asc"
                use:link>Link</a
              >
            </li>
          {/if}
        </ol>
        <button on:click={(e) => api.createDownload({ query: `id:${post.id}` })}
          >Refresh Metadata</button
        >
        <button on:click={handleDeletePost}>Delete Post</button>
      </div>

      {#if post.tags.length !== 0}
        <div class="tags-container">
          {#each Object.values(partitionedTags) as group}
            {#if group.tags.length !== 0}
              <h2>{group.title}</h2>
              <ol>
                {#each group.tags as tag}
                  <li>
                    <a
                      use:link
                      href="/view?query={encodeURIComponent(tag.name)}"
                      >{tag.name}</a
                    >
                  </li>
                {/each}
              </ol>
            {/if}
          {/each}
        </div>
      {/if}
    </div>
  </div>
{:catch error}
  <ErrorDisplay {error} />
{/await}

<style>
  h2 {
    margin: 0;
    font-size: 1.3em;
  }

  ol {
    margin: 0;
    padding-left: 1em;
  }

  li {
    display: block;
  }

  .content {
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .post-container {
    height: 80vh;
    width: 100%;
    display: flex;
  }

  .post-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0.5em;
  }

  .post-info-container > div {
    background-color: var(--secondary-background-color);
    border-radius: 0.5em;
    flex: 1;
    margin: 0.5em;
    min-width: min-content;
    padding: 0.5em;
    width: 50%;
  }

  .info-container {
  }

  .info-container li {
    white-space: nowrap;
  }

  .info-container a {
    display: inline-block;
    color: white;
  }

  .tags-container {
  }

  .tags-container ol {
  }

  .tags-container li {
    font-size: 1.2em;
  }

  .tags-container li a {
    display: inline-block;
    color: white;
    padding: 0.1em;
  }
</style>
