<script>
  // Libraries
  import { onMount, onDestroy, tick } from "svelte";
  import { writable } from "svelte/store";
  import { link, restoreScroll, location } from "svelte-spa-router";

  // Utils
  import { title } from "@/stores.js";
  import {
    tryRestoreSvelteRouterScroll,
    trySaveSvelteRouterScroll,
    getExtensionType,
    clamp,
  } from "@/util.js";
  import api from "@/api.js";

  // Components
  import Input from "@/components/Input.svelte";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";
  import Button from "@/components/Button.svelte";
  import UserCollectionPostList from "./UserCollectionPostList.svelte";

  import Manager from "./Manager.svelte";

  export let params = {};

  let onDestroyCallbacks = [];

  let userCollectionPromise = null;
  let userCollection = null;
  $: {
    userCollection = null;
    userCollectionPromise = api
      .getUserCollection(params.id)
      .then((newUserCollection) => (userCollection = newUserCollection));
  }

  $: {
    userCollectionPromise.then(() => {
      tick().then(() => {
        restoreScroll(history.state);
      });
    });
  }

  $: userCollectionTitle =
    userCollection !== null && userCollection.title !== null
      ? userCollection.title
      : `User Collection ${params.id}`;
  $: title.set(userCollectionTitle);

  let titleInputValue = writable(userCollectionTitle);
  $: {
    titleInputValue.update(() => userCollectionTitle);
  }

  onDestroy(() => {
    for (const callback of onDestroyCallbacks) callback();
  });

  // Ensure only one operation is in-flight to ensure a consistent UI.
  let operationInFlight = false;
  async function setTitle(title) {
    if (operationInFlight) return;
    operationInFlight = true;

    api
      .updateUserCollection(userCollection.id, {
        title: title === "" ? null : title,
      })
      .then((response) => {
        userCollection.title = title;
      })
      .catch((e) => {
        alert(e.message);
      })
      .finally(() => {
        operationInFlight = false;
      });
  }

  let displaySingleIndex = 0;
  let disablePostLink = false;

  function handleChange(e) {
    console.log(e);
    if (e.inputType == "insertParagraph") e.preventDefault();
  }
</script>

<Input
  placeholder="Title"
  bind:value={$titleInputValue}
  on:submit={(e) => setTitle(e.detail)}
/>
<div class="content">
  {#await userCollectionPromise}
    Loading...
  {:then}
    <div class="user-collection-container">
      <div>
        <h2>Controls</h2>
        <a href="/user-collections/{userCollection.id}/view" use:link
          ><Button>View</Button></a
        >
      </div>
      <div>
        <h2>Posts</h2>
        <UserCollectionPostList posts={userCollection.posts} />
      </div>
    </div>
    <Manager {userCollection} />
  {:catch error}
    <ErrorDisplay {error} />
  {/await}
</div>

<style>
  .content {
    color: white;
    margin: 1em;
    max-width: 100%;
  }

  .user-collection-container {
    background-color: var(--secondary-background-color);
    border-radius: 1em;
    padding: 1em;
  }

  h2 {
    font-weight: normal;
  }

  h3 {
    font-weight: normal;
  }
</style>
