<script>
  // Libraries
  import { link } from "svelte-spa-router";

  // Components
  import Button from "@/components/Button.svelte";

  export let userCollection;

  let titleValue = userCollection.title;
  let newPostValue = "";

  let manageOp = null;

  function handleSwapPostClick(index, newIndex) {
    if (manageOp) return;
    console.log(index, newIndex);
    if (newIndex < index) {
      let temp = index;
      index = newIndex;
      newIndex = temp;
    }
    let first = userCollection.posts[index];
    let second = userCollection.posts[newIndex];
    if (first && second) {
      manageOp = api
        .insertUserCollectionPost(userCollection.id, first.id, second.id, {
          isMove: true,
        })
        .then((response) => {
          userCollection.posts[index] = second;
          userCollection.posts[newIndex] = first;
        })
        .catch((e) => {
          alert(e.message);
        })
        .finally(() => {
          manageOp = null;
        });
    }
  }

  function handleClick(index) {
    if (manageOp) return;
    if (!confirm("Delete?")) return;

    manageOp = api
      .deleteUserCollectionPost(
        userCollection.id,
        userCollection.posts[index].id,
      )
      .then(() => {
        userCollection.posts.splice(index, 1);
        userCollection.posts = userCollection.posts;
      })
      .catch((e) => {
        alert(e.message);
      })
      .finally(() => {
        manageOp = null;
      });
  }

  function handleKeyDown(e) {
    if (e.key != "Enter") return;
    if (manageOp) return;
    let maybeId = parseInt(newPostValue);
    if (!maybeId) return;

    manageOp = api
      .insertUserCollectionPost(
        userCollection.id,
        maybeId,
        (userCollection.posts.at(-1) || {}).id,
      )
      .then((response) => {
        //userCollection.posts.push(response);
        //userCollection.posts = userCollection.posts;

        api
          .getUserCollection(userCollection.id)
          .then((data) => (userCollection = data))
          .catch(alert);
      })
      .catch((e) => {
        alert(e.message);
      })
      .finally(() => {
        manageOp = null;
      });
  }
</script>

<svelte:head>
  {#each userCollection.posts as post}
    <link
      rel="prefetch"
      as="image"
      href="/collection/samples/{post.id}.{post.sampleExtension}"
    />
  {/each}
</svelte:head>

<div class="contents">
  <h2>Contents</h2>
  {#each userCollection.posts as post, i}
    <div class="post" style="display: flex;gap:0.5em;">
      <img src="/collection/thumbnails/{post.id}.{post.thumbnailExtension}" />
      <div style="margin:auto;">
        <a use:link href="/view/{post.id}">
          {post.id}
        </a>
      </div>
      <div style="flex-grow:1;" />
      <div class="button-wrapper">
        <button on:click={(e) => handleClick(i)}>✕</button>
        <button on:click={(e) => handleSwapPostClick(i, i - 1)}>↑</button>
        <button on:click={(e) => handleSwapPostClick(i, i + 1)}>↓</button>
      </div>
    </div>
  {/each}
  <div>
    <input
      placeholder="Add Post by ID"
      bind:value={newPostValue}
      on:keydown={handleKeyDown}
    />
  </div>
</div>

<style>
  .view-button-link {
    width: min-content;
    padding: 0.2em;
    display: block;
    font-size: 1.5em;
  }

  .title-input {
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
  }

  .contents {
    border: 1px solid white;
    padding: 1.2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border-radius: 1em;
  }

  .contents > h2 {
    margin-top: 0px;
  }

  .post {
    font-size: 1.5em;
    border: 1px solid white;
    padding: 0.3em;
    border-radius: 0.5em;
    margin: 0.3em;
    background-color: rgba(136, 136, 136, 0.5);
  }

  .post > .button-wrapper {
    display: inline-flex;
    flex-direction: row;
    gap: 0.2em;
  }

  .post > .button-wrapper > button {
    display: inline-block;
    margin: auto;
    background-color: rgb(107, 107, 107);
    text-shadow: none;
    border-width: 2px;
    border-color: rgb(133, 133, 133);
    box-sizing: border-box;
    border-style: none;
    border-radius: 0.2em;
    padding: 0.4em;
    color: white;
    font-size: 1.5em;
    touch-action: manipulation;
    height: 3em;
  }

  .post > .button-wrapper > button:hover {
    background-color: rgb(133, 133, 133);
  }

  .post > .button-wrapper > button:active {
    background-color: rgb(59, 59, 59);
  }
</style>
