<script>
  import { title } from "@/stores.js";
  import {
    tryRestoreSvelteRouterScroll,
    trySaveSvelteRouterScroll,
    getExtensionType,
  } from "@/util.js";
  import PostDisplay from "@/components/PostDisplay.svelte";
  import ErrorDisplay from "@/components/ErrorDisplay.svelte";

  export let params = {};
  let numPosts = 0;
  let userCollectionPosts = [];
  $: userCollectionPromise = api
    .getUserCollection(params.id)
    .then((userCollection) => {
      title.set(userCollection.title || `User Collection ${params.id}`);
      numPosts = userCollection.posts.length;
      setTimeout(tryRestoreSvelteRouterScroll);

      userCollectionPosts = userCollection.posts;

      return userCollection;
    })
    .catch((e) => {
      title.set("Error");
      throw e;
    });
  let displaySingleIndex = 0;
  let inDetailedMode = false;

  function handleClick(e) {
    let rect = e.target.getBoundingClientRect();
    let x = e.clientX - rect.left;
    if (x < rect.width / 3) {
      tryGoLeft();
    } else if (x > rect.width * (2 / 3)) {
      tryGoRight();
    }
  }

  function handleKeyUp(e) {
    if (e.key == "ArrowRight") {
      tryGoRight();
    } else if (e.key == "ArrowLeft") {
      tryGoLeft();
    }
  }

  function tryGoRight() {
    if (inDetailedMode || displaySingleIndex + 1 >= numPosts) return false;
    displaySingleIndex += 1;
    return true;
  }

  function tryGoLeft() {
    if (inDetailedMode || displaySingleIndex <= 0) return false;
    displaySingleIndex -= 1;
    return true;
  }

  function handleDragStart(e) {
    e.preventDefault();
    handleClick(e);
  }

  function handleOnWheel(e) {
    if (e.deltaY < 0) {
      tryGoRight();
    } else if (e.deltaY > 0) {
      tryGoLeft();
    }
  }
</script>

<svelte:window on:keyup={handleKeyUp} on:wheel={handleOnWheel} />

<svelte:head>
  {#each userCollectionPosts as post}
    <link
      rel="preload"
      as="image"
      href="/collection/samples/{post.id}.{post.sampleExtension}"
    />
  {/each}
</svelte:head>

{#await userCollectionPromise}
  <div class="content" style="margin:1em">Loading...</div>
{:then userCollection}
  <div class="content">
    <div
      on:click={handleClick}
      on:dragstart|preventDefault={handleDragStart}
      class="post-wrapper"
    >
      <PostDisplay
        post={userCollection.posts[displaySingleIndex]}
        bind:detailedMode={inDetailedMode}
        useSampleUrl="true"
      />
    </div>
  </div>
{:catch error}
  <ErrorDisplay {error} />
{/await}

<style>
  .content {
    color: #ffffff;
    flex-grow: 1;
    display: flex;
    position: relative;
    overflow-x: hidden;
  }

  .post-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0em;
    bottom: 0em;
    left: 0em;
    right: 0em;
  }
</style>
