<script>
  // Libraries
  import { default as Router, location } from "svelte-spa-router";
  import { get } from "svelte/store";

  // Utils
  import { title } from "@/stores.js";
  import { trySaveSvelteRouterScroll } from "@/util.js";

  // Components
  import NavBar from "@/components/NavBar.svelte";

  // Routes
  import Index from "@/routes/Index.svelte";

  import View from "@/routes/view/Index.svelte";
  import ViewId from "@/routes/view/{id}.svelte";

  import Downloads from "@/routes/downloads/Index.svelte";
  import DownloadsId from "@/routes/downloads/{id}.svelte";

  import UserCollectionsIndex from "@/routes/user-collections/Index.svelte";
  import UserCollectionsId from "@/routes/user-collections/{id}/Index.svelte";
  import UserCollectionsIdView from "@/routes/user-collections/{id}/View.svelte";

  import Subscriptions from "@/routes/Subscriptions.svelte";

  import NotFound from "@/routes/NotFound.svelte";

  const routes = {
    "/": Index,

    "/view": View,
    "/view/:id": ViewId,

    "/user-collections": UserCollectionsIndex,
    "/user-collections/:id": UserCollectionsId,
    "/user-collections/:id/view": UserCollectionsIdView,

    "/downloads": Downloads,
    "/downloads/:id": DownloadsId,

    "/subscriptions": Subscriptions,

    "*": NotFound,
  };

  if ("serviceWorker" in window.navigator) {
  }

  // On all platforms that support scroll end (Firefox, Chrome, ...),
  // the event is good enough to use as a general-purpose scroll-save mechanism.
  // It is so good, and so simple, that we will attempt to manually fall back to
  // a worse, hand-written pollyfill if we can't find support.
  //
  // Note: The "scrollyfills" polyfill fails horrifically with SPAs.
  // One issue is that it seems to fire on page change?
  const hasScrollEnd = "onscrollend" in window;
  if (!hasScrollEnd) {
    console.warn("scrollend event is not supported");
  }

  // Apple has broken user agent detection by lying constantly,
  // just blacklist them entirely for any bug that impacts Safari.
  const isSafari = navigator.vendor.indexOf("Apple") > -1;
  if (isSafari) {
    console.warn(
      "Safari detected, disabling functionality. Please use a better browser.",
    );
  }

  function handleOnScrollEnd(event) {
    trySaveSvelteRouterScroll(window.scrollX, window.scrollY);
  }

  // scrollend polyfill, specialized for saving scroll positions to history.
  //
  // However, Safari does not synchronize history updates with hash changes correctly.
  // Even though the public state changes from navigation and can be verified as changed,
  // updates with replaceState still affect the old state.
  //
  // This means that it is not possible to correctly store scrolls safely on Mobile Safari.
  // However, we cannot blacklist Mobile Safari in particular, as it lies about the user agent.
  // Therefore, blacklist all Safari browers.
  let lastState = null;
  let handleScrollTimeout = null;
  // Apple sets a limit of 100 replace state calls per second,
  // so we have to set a limit respecting at least that.
  //
  // However, according to https://github.com/sveltejs/kit/issues/365,
  // the scroll event may fire up to every 150ms.
  // Therefore, this can probably be fixed with a 200ms limit.
  const scrollTimeoutValue = isSafari ? 200 : 50;
  function handleScroll(event) {
    if (lastState === null) {
      if (window.history.state === null) {
        window.history.replaceState({}, "");
      }

      lastState = window.history.state;
    }

    if (handleScrollTimeout !== null) {
      clearTimeout(handleScrollTimeout);
    }

    handleScrollTimeout = setTimeout(() => {
      if (lastState === window.history.state) {
        // A shitty hack to make things appear to work on Safari 90% of the time.
        if (!isSafari || (isSafari && window.scrollY !== 0)) {
          trySaveSvelteRouterScroll(window.scrollX, window.scrollY);
        }
      }

      handleScrollTimeout = null;
      lastState = null;
    }, scrollTimeoutValue);
  }

  window.addEventListener("error", (event) => {
    alert(event.message);
  });
</script>

<svelte:head>
  <title>{$title}</title>
</svelte:head>

<svelte:window
  on:scrollend|passive={hasScrollEnd ? handleOnScrollEnd : null}
  on:scroll|passive={hasScrollEnd ? null : handleScroll}
/>

<div class="container">
  <NavBar />

  {#if window.location.pathname === "/"}
    <Router {routes} restoreScrollState={true} />
  {:else}
    <NotFound />
  {/if}
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
</style>
